<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>{{message}}</p>
        <input v-model='message' type="text">
        <ul>
            <todo-item
                v-for='item in groceryList'
                :todo="item"
                :key="item.id"
            ></todo-item>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{todo.text}}</li>'
        });
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue',
                groceryList: [
                    {id: 0, text: 'Vegetables'},
                    {id: 1, text: 'Meat'},
                    {id: 2, text: 'Cheese'},
                    {id: 3, text: 'Apples'}
                ]
            },
            methods: {
                reverseMessage: function() {
                    this.message = this.message.split('').reverse().join('');
                }
            }
        });
    </script>
</body>
</html>